<%= form_for @user, url: sign_up_path do |f| %>
  <div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<% end %>
