<%= form_for @tip, url: new_tip_path do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit "Submit tip" %>
  </div>
<% end %>
